
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Buch {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    
}
.Buch p{
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 1.2em;
    padding: 1em;
    padding-left: 1em;
    height: 10em;
    width: 7em;
    border-radius: 0px 10px 10px 0px;
    background-color: var(--primary-color);
    background-image: url('https://i.pinimg.com/originals/fa/4e/71/fa4e718eeeef05fb0089372312ae15de.jpg');
    background-size: cover;
    background-position: center;
    transition: padding 1s, font-size 1s;
}
.Buch p span{
    background-color: rgb(193 155 23);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 0.2em;
    border-radius: 5px 5px 5px 5px;
}
.Buch p:hover{
    background-image: none;
    font-size: 1.5em;
    padding: 1em;
    background-color: rgb(43, 146, 22);
}
.Buch p.rentet{
    background-color: rgba(128, 128, 128, 0.5);
    background-image: url('https://github.com/davidsen-l/Webentwicklung/blob/main/Bild_2.jpeg?raw=true');
    background-size: cover;
    background-position: center;
}
.Buch p.rentet span{
    background-color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.Buch p.rentet:hover{
    background-image: none;
    background-color: brown;
}
body {
    background-color: rgba(0, 0, 0, 0.877);
    background-image: url('https://get.wallhere.com/photo/white-black-monochrome-dark-texture-atmosphere-light-background-line-surface-darkness-spots-computer-wallpaper-black-and-white-monochrome-photography-701877.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
}
th{
    background-color: var(--primary-color);
    height: 2em;
}
td{
    background-color: rgba(160, 69, 9, 0.418);
    padding: 0.5em;
}
table{
    width: 100%;
}
h1{
    text-align: center;
}
p{
    font-size: large;
}
.button{
    position: fixed;
    top: 35%;
    right: 43%;
    background-color: var(--primary-color);
    border: 2px solid black;
    padding:0.25em;
    max-width: fit-content;
    border-radius: 8px 8px 8px 8px;
}
.button:hover{
    background-color: gray;
}
:root {
    --primary-color: rgb(160, 69, 9);
}
.popupbuch{
    position: fixed;
    top: 35%;
    right: 40%;
    width: fit-content;
    background: var(--primary-color);
    color: white;
    padding: 1em;
    border-radius: 8px 8px 8px 8px;
}
.popupbuch p{
    text-align: center;
}
.popupbuch button{
    bottom: -1em;
    width: 100%;
    border-radius: 8px 8px 8px 8px;
}