
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Buch {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    
}
.Buch p{
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    background-color: brown;
    padding: 1em;
    height: 10em;
    width: 7em;
    border-radius: 0px 10px 10px 0px;
    transition: padding 1s, font-size 1s;
}
.Buch p:hover{
    font-size: 1.2em;
    padding: 2em;
    background-color: rgb(161, 67, 67);
}
.Buch p.rentet{
    background-color: gray;
}
body {
    background: rgba(0, 0, 0, 0.85);
    color: rgb(255, 255, 255);
}
th{
    background-color: rgb(160, 69, 9);
}
td{
    background-color: rgba(160, 69, 9, 0.418);
}
table{
    width: 100%;
}
h1{
    text-align: center;
}