
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Buch {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    
}
.Buch p{
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 1.2em;
    padding: 1em;
    padding-left: 1.5em;
    height: 10em;
    width: 7em;
    border-radius: 0px 10px 10px 0px;
    background-color: rgb(160, 69, 9);
    background-image: url('https://i.pinimg.com/originals/fa/4e/71/fa4e718eeeef05fb0089372312ae15de.jpg');
    background-size: cover;
    background-position: center;
    transition: padding 1s, font-size 1s;
}
.Buch p:hover{
    background-image: none;
    font-size: 1.5em;
    padding: 1em;
    background-color: rgb(43, 146, 22);
}
.Buch p.rentet{
    background-color: rgba(128, 128, 128, 0.5);
    background-image: url('https://github.com/davidsen-l/Webentwicklung/blob/main/Bild_2.jpeg?raw=true');
    background-size: cover;
    background-position: center;
}
.Buch p.rentet:hover{
    background-image: none;
    background-color: brown;
}
body {
    background: rgba(0, 0, 0, 0.85);
    color: rgb(255, 255, 255);
}
th{
    background-color: rgb(160, 69, 9);
    height: 2em;
}
td{
    background-color: rgba(160, 69, 9, 0.418);
    padding: 0.5em;
}
table{
    width: 100%;
    position: fixed;
    bottom: 0;
}
h1{
    text-align: center;
}
p{
    font-size: large;
}